In [6]:
import pandas as pd
import numpy as np
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'None', 'Eve'],
    'Age': [24, None, 22, 32, 29],
    'City': ['New York', 'Los Angeles', 'None', 'Houston', 'Phoenix'],
    'Salary': [70000, 80000, None, 120000, None]
}

df = pd.DataFrame(data)
 # Display the data frame
print("DataFrame: ")
print(df)
# counting missing values
print("\ncount of missing values: ")
print(df.isnull().sum())
# creating a new colume salary filled with missing values filled by the average salary
average_salary = df['Salary'].mean()
df['Salary_filled'] = df['Salary'].fillna(average_salary)
print("\nDataFrame with 'Salary_filled' column:")
print(df)

DataFrame:
      Name   Age         City    Salary
0    Alice  24.0     New York   70000.0
1      Bob   NaN  Los Angeles   80000.0
2  Charlie  22.0         None       NaN
3     None  32.0      Houston  120000.0
4      Eve  29.0      Phoenix       NaN

count of missing values:
Name      0
Age       1
City      0
Salary    2
dtype: int64

DataFrame with 'Salary_filled' column:
      Name   Age         City    Salary  Salary_filled
0    Alice  24.0     New York   70000.0        70000.0
1      Bob   NaN  Los Angeles   80000.0        80000.0
2  Charlie  22.0         None       NaN        90000.0
3     None  32.0      Houston  120000.0       120000.0
4      Eve  29.0      Phoenix       NaN        90000.0